openapi: 3.0.1
info:
  title: Bluecollarverse API
  description: Main API for the project
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.bluecollarverse.com/v1
paths:
  /hello:
    get:
      tags:
        - Greeting
      summary: Fetches a hello message
      description: Returns a simple hello message
      operationId: getHello
      responses:
        "200":
          description: Code context retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/helloResponse"
        "400":
          description: Bad Request, usually due to invalid event data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "500":
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "503":
          description: External service unavailable or request rejected.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "504":
          description: Request to external service timed out.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      x-amazon-apigateway-integration:
        httpMethod: POST
        type: aws_proxy
        uri:
          Fn::Sub: >-
            arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${HelloLambda.Arn}/invocations
  /goodbye:
    get:
      tags:
        - Greeting
      summary: Fetches a hello message
      description: Returns a simple hello message
      operationId: getGoodbye
      responses:
        "200":
          description: Code context retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/goodbyeResponse"
        "400":
          description: Bad Request, usually due to invalid event data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "500":
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "503":
          description: External service unavailable or request rejected.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "504":
          description: Request to external service timed out.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      x-amazon-apigateway-integration:
        httpMethod: POST
        type: aws_proxy
        uri:
          Fn::Sub: >-
            arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${GoodbyeLambda.Arn}/invocations
components:
  schemas:
    helloResponse:
      title: Hello Response
      type: object
      description: An object that contains message with hello.
      properties:
        message:
          type: string
          description: Short hello string
          example: Hello world!
      required:
        - message
    error:
      title: Error
      type: object
      description: Object representing an error.
      required:
        - error
      properties:
        error:
          type: string
          description: A human-readable message providing more details about the error.
          example: Internal service error.
    goodbyeResponse:
      title: Goodbye Response
      type: object
      description: An object that contains message with goodbye.
      properties:
        message:
          type: string
          description: Short goodbye string
          example: Hello world!
      required:
        - message
